<!-- Header -->
<% content_for :header do %>
  <div class="page-heading">
    <h1>Sign In</h1>
    <span class="subheading">¡Back to Rails!</span>
  </div>
<% end %>
<!-- Form -->
<%= render 'form' %>
