<!-- Page Header -->
<% content_for :background do %>
  <%= asset_path 'rails-bg.jpg' %>
<% end %>
<% content_for :header do %>
  <div class="page-heading">
    <h1>¡Articles on Rails!</h1>
    <span class="subheading">Made with Ruby on Rails</span>
  </div>
<% end %>
<!-- Main Content -->
<%= render 'list', articles: @articles, user: nil %>
