<!-- Page Header -->
<% content_for :background do %>
  <%= asset_path 'user-bg.jpg' %>
<% end %>
<% content_for :header do %>
  <div class="post-heading">
    <h1><%= @user.username %> Follows to ...</h1>
  </div>
<% end %>
<!-- Users Following -->
<div class="col-md-8 mx-auto">
  <% if @user_follows.size > 0 %>
    <% @user_follows.each do |user_followed| %>
      <li class="d-flex justify-content-between align-items-center">
        <h2><%= link_to user_followed.username, user_path(user_followed) %></h2>
        <%= link_to 'Unfollow',
                    follower_path(user_followed),
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    class: 'btn btn-primary p-2' %>
      </li>
    <% end %>
  <% else %>
    <h3>Read some articles to discover and follow, amazing Rails Users</h3>
  <% end %>
</div>
