<!-- Header -->
<% content_for :header do %>
  <div class="page-heading">
    <h1>Sign Up</h1>
    <span class="subheading">¡Get on the Rails!</span>
  </div>
<% end %>
<!-- Form -->
<%= render 'form', user: @user %>
